@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --main-brand-color: #e36d29;
    --primary-color: #222222;
    --secondary-color: #505050;
    --light-secondary-color: #963c08;
    --text-color: white;
    --secondary-text-color: #d85e0c;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--text-color);
}
h1{
    font-size: 100px;
    line-height: 115%;
}
h3{
    font-size: 38px;
}
.subheading{
            margin-top: 25px;
            color: var(--secondary-color);
        }

@media(max-width: 800px){
    h1{
        font-size: 12vw;
        text-align: center;
    }
    .subheading{
        text-align: center;
    }
    body{
        font-size: 16px;
    }
}